body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background: #111;
}

.wall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wall-back {
	position: absolute;
	top: 45%;
	left: 10%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding-left: 10px;
	color: #eee;
	background-color: #444;
	display: inline-block;
	font-size: 32px;

}

.wall-next {
	position: absolute;
	top: 45%;
	right: 10%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding-left: 10px;
	color: #eee;
	background-color: #444;
	display: inline-block;
	font-size: 32px;

}